<h1>Start a new Match:</h1>


<%= form_for(@match) do |f| %>

   <table>
   <p>Available friends:</p>
   <% @users.each do |user| %>
   <%= username = user.name %>
    <tr>
     <td><%= link_to user.name, user_path(user) %></td>
     <td><%= f.radio_button (:enduser, username) %></td>
    </tr>
   <% end %>
   </table>
   
   <p>Available photos:</p>
   <table>  
    <% @photos.each do |photo| %>
    <tr>
     <td><%= photo.imagestring %></td>
     <td><%= f.radio_button (:startphoto, photo.id) %></td>
    </tr>
   <% end %>

</table>

<%= f.submit "Submit" %><br/>

<% end %>



