  <br/>
  <br/>
<h1>Finished Matches:</h1>
  <br/>
  <br/>
    <br/>
  <br/>
   
<% @tomatches.each do |match| %>
    
      <% if match.startuser? %>
      <% startuser = match.startuser %>
      <% startphotoid = match.startphoto %>
      <% startphoto = Photo.find_by_id(startphotoid) %>

   	  <% enduser = match.enduser %>
      <% end %>

      <% if match.endphoto? %>
     <% endphotoid = match.endphoto %>
     <% endphoto = Photo.find_by_id(endphotoid) %>

    <table>   
     <tr>
      <td><%= link_to image_tag (startphoto.image.url (:normal)), match_path(match) %>
      <%= link_to image_tag (endphoto.image.url (:normal)), match_path(match) %></td>
    </tr>
    <tr> 
      <td align="right"><%= link_to "delete:", match, :method => :delete %>
      <%= startuser %> > <%= enduser %>
      </td>
     </tr>
    <tr> 
      <td><%= image_tag "/images/spacer.gif" %> </td>
     </tr>
    </table> 
    
    <% end %>

<% end %> 



<% @frommatches.each do |match| %>
    
      <% if match.startuser? %>
      <% startuser = match.startuser %>
      <% startphotoid = match.startphoto %>
      <% startphoto = Photo.find_by_id(startphotoid) %>

   	  <% enduser = match.enduser %>
      <% end %>

      <% if match.endphoto? %>
     <% endphotoid = match.endphoto %>
     <% endphoto = Photo.find_by_id(endphotoid) %>

    <table>   
     <tr>
      <td><%= link_to image_tag (startphoto.image.url (:normal)), match_path(match) %>
      <%= link_to image_tag (endphoto.image.url (:normal)), match_path(match) %></td>
     </tr>
     
     <tr> 
      <td align="right"><%= link_to "delete:", match, :method => :delete %>
      <%= startuser %> > <%= enduser %></td>
      
     </tr>
         <tr> 
      <td><%= image_tag "/images/spacer.gif" %> </td>
     </tr>
    </table>
    
    <% end %>

<% end %> 


 
