<h1>Upload an Imagestring</h1>

<% user = User.find_by_id(session[:remember_token]) %>
<%= user.name %>

<%= form_for(@photo) do |f| %>

 <div class='field'>
  <%= f.label :imagestring %><br/>
  <%= f.text_field :imagestring %>
 </div>
 
  <div class='actions'>
  <%= f.submit "Load Imagestring" %><br/>
 </div>

<% end %>

